### Update Config
### GitHub "https://github.com/ViniciusRed/SourceServerDev"

ChangeLog=https://raw.githubusercontent.com/ViniciusRed/SourceServerDev/main/ChangeLog.md;
Download={
    "Cs Source": ""
    "Cs 1.6": "" 
    "CsSo": ""
    "Plugins": ""
};
Update=
